body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  button {
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    margin: 5px 0;
    color: blue;
    text-decoration: underline;
  }
  